<div class="well well-sm" id="{{ post.url_title }}">
{% if inPost %}
  <h1>{{ post.title }}</h1>
{% else %}
  <h1><a href="/{{blog.name }}/post/{{post.url_title }}">{{ post.title }}</a></h1>
{% endif %}

    <div>
        {{ post.content }}
    </div>
    <p><strong>Published on </strong><span class="text-info">{{ post.publishing_time }}</span></p>
    <div class="">
      {% for tag in post.tags %}
          <a href="/{{ blog.name }}/tag/{{ tag }}"><span class="label label-muted">{{ tag }}</span></a>
      {% endfor %}
    </div>
</div>
